.nav {
    background-color: rgb(255, 255, 255);
    min-height: 110vh; 
    position: fixed; 
    top: 0;
    z-index: 1;
    text-align: right;
    width: 40px;

    .collapsibleNav {
        position: relative; 
        top: 50vh;

        i.fas {
            display: block;
            color: rgb(72, 72, 72);
            font-size: 1.5em;
        }

        i.fas:hover {
            cursor: pointer;
        }
    }
}

.closeNav {
    background-color: rgb(255, 255, 255);
    min-height: 110vh; 
    position: fixed; 
    top: 0;
    z-index: 100;
    text-align: right;
    animation: shut 1s ease;
    width: 40px;

    .collapsibleNav {
        position: relative; 
        top: 50vh;
        left: 21px;

        i.fas {
            display: block;
            width: 20px;
            color: rgb(72, 72, 72);
            font-size: 1.5em;
        }

        i.fas:hover {
            cursor: pointer;
        }
    }
}

.openNav {
    background-color: rgb(255, 255, 255);
    min-height: 110vh; 
    width: 70vw;
    position: fixed; 
    top: 0;
    z-index: 1;
    text-align: right;
    animation: open 1s ease;
    

    .collapsibleNav {
        position: relative; 
        top: 50vh;
        left: 10px;

        i.fas {
            display: block;
            width: 20px;
            color: rgb(72, 72, 72);
            font-size: 1.5em;
            
        }

        i.fas:hover {
            cursor: pointer;
        }
    }

    #navLinks {
        display: grid; 
        grid-template-columns: auto;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        color: rgb(72, 72, 72);
        animation: fade-in 2s ease;
        position: relative; 
        top: 5vh;

        i, .links, a {
            color: rgb(72, 72, 72);
            font-size: 25px;
            margin-bottom: 75px;
            line-height: 50px;
        }

        i.fab, i.far {
            margin: 0 5%;
            margin-bottom: 50px;
            font-size: 30px;
            width: 20px;
        }

        .active {
            color: #E73C7E;
        }

        small {
            font-size: 2vw;
        }
    }

}

@keyframes open {
    from {
      margin-right: 100%;
      width: 40px; 
    }
  
    to {
      margin-right: 0;
      width: 70vw;
    }
  }

  @keyframes shut {
    from {
      margin-right: 100%;
      width: 70vw; 
    }
  
    to {
      margin-right: 0;
      width: 40px;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

  @keyframes slight-right {
      from {
          opacity: 0;
          left: 10px;
      }
      to {
          opacity: 1;
          left: 80px;
      }
  }

  @keyframes slight-left {
    from {
        opacity: 0;
        left: 80px;
    }
    to {
        opacity: 1;
        left: 21px;
    }
}

  @media screen and (min-width: 900px) {
    .closeNav {
    
        .collapsibleNav {
            animation: slight-left 1s ease forwards;
        }
    }
    
    .openNav {

        .collapsibleNav {
            animation: slight-right 1s ease forwards;
        }

        #navLinks {
            i, .links, a {
                margin: 0 auto 75px;
                line-height: 50px;
                width: 50%;
            }

            i.fab, i.far {
                margin: 0 5%;
                margin-bottom: 50px;
                font-size: 3.5vw;
                position: relative; 
                z-index: 100;
            }

            .active {
                color: #E73C7E;
            }

            small {
                font-size: .75vw;
            }
        }
}
  }