// .blues {
// 	width: 100vw;
// 	height: 100vh;
// 	color: #fff;
// 	background: linear-gradient(-60deg, rgb(23, 96, 205), #23A6D5);
// 	background-size: 100% 100%;
// }

.portfolio {
	min-height: 90vh;
	width: 90vw;
    background: rgb(0, 189, 193);
    color: white; 
    margin: auto auto;
	top: 100px;
	position: relative;
	
	#portfolioContainer {
		min-height: 100vh;
		margin-bottom: -100px;

		h1 {
			font-family: 'Permanent Marker', cursive;
			text-align: center;
			padding: 20px 0;
		}
		
		#portfolioList {
			list-style-type: none;
			display: grid; 
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
			grid-column-gap: 10px;
			width: 80vw;
			max-width: 2000px;
			margin:  0 auto 50px;
			padding: 40px 0 0 0;
			align-items: center; 
			justify-items: center; 

			.portfolioCard {
				margin: 0 auto;
        		max-width: 1000px;
				background: white; 
				color: rgb(60, 60, 60);
				margin-bottom: 20px;
				height: 240px;
				width: 240px;
				box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.2);	
				border-radius: 20px;

				a {
					text-decoration: none;
					color: rgb(60, 60, 60);
				}
			}

			.portfolioCard:hover {
				box-shadow: 0px 1px 3px 5px rgba(0, 0, 0, 0.2);	
			}

			.portfolioGraphics {
				width: 220px;
				height: 130px;
				display: block;
				margin: 0 auto;
				padding: 10px;
				border-radius: 20px;
			}

			.portfolioText {
				padding: 0 15px;
				font-size: .90rem;

				h4 {
					margin: 7px 0;
				}

				p {
					margin: 3px 0;
				}
			}
		}
	

	}
}