$border: rgb(255, 255, 255);

.reds {
	color: #fff;
	background: linear-gradient(-60deg, rgb(215, 89, 51), #E73C7E);
    background-size: 100% 200%;
    background-repeat: no-repeat;
}

.aboutGrid {
    margin-top: 100px;
    align-content: center;
}

.aboutRow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    width: 60vw;
    max-width: 800px;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.flipCard {
    background-color: transparent;
    perspective: 1000px;
    width: 150px; 
    height: 150px;
    margin-bottom: 20px;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
  }

  .flipCardFront, .flipCardBack {
    backface-visibility: hidden;
    display: block;
    font-size: 1.5rem;
    padding-top: 20px;
    position: absolute;
    border: 2px solid $border;
    border-radius: 4px;
    width: 100%;
  height: 100%;
    
  }

  .flipCardFront {
      background-color: transparent; 
  }

.flipCardBack {
    transform: rotateY(180deg);
    background: rgb(255, 255, 255);
    color: rgb(109, 3, 100);
}

.icon {
    font-size: 2rem;
}