.landing {
	display: block;
	height: 90vh;
	width: 90vw;
	margin: auto auto;
	background: linear-gradient(-60deg, rgb(215, 89, 51), #E73C7E, #23A6D5, rgb(23, 205, 162));
	background-size: 200% 200%;
	-webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
	color: #fff;

	.landingText {
		font-family: 'Open Sans';
		font-weight: 300;
		text-align: center;
		position: relative;
		width: 100%;
		top: 30%;
		font-size: 3.5vw;
	}

	#buttonDiv {
		position: relative;
		top: 35%;
		text-align: center;
		scroll-behavior: smooth;
	}

	#learnMoreButton {
		padding: 20px 30px;
		background: transparent;
		font-family: 'Permanent Marker', cursive;
		font-weight: 500;
		font-size: 1.5vw;
		color: white;
		border: 2px solid white;
	}

	#learnMoreButton:hover {
		cursor: pointer;
	}

	.increaseSize {
		font-size: 1.75rem; 
		-webkit-animation: spin 1s forwards 1;
		-moz-animation: spin 1s forwards 1;
		animation: spin 1s forwards 1;
	}
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(90deg);
    }
}


