html, body {
    height: 100%; 
    width: 100%;
}

.app {
    max-width: 2000px;
    background: white;
}

.divTitle {
    font-family: 'Open Sans';
    font-weight: 300;
    text-align: center;
    position: relative;
    // margin: 20px 0 0 0;
}



